.auction-online-text {
  font-size: 14px;
  border-radius: 4px;
}

.auction-online-customize-btn {
  border-radius: 3px !important;
  padding: 5px 13px;
}

.auction-online-customize-input {
  border-radius: 3px !important;
}

#auction-online-customize-error {
  color: #ff3b27;
}

#auction-online-customize-error-update {
  color: #ff3b27;
}

.auction-online-snipper-border {
  width: 1.5rem;
  height: 1.5rem;
  animation: spinner-border 1s linear infinite;
}

.auction-online-active-background {
  background-color: rgb(255, 196, 185) !important;
}

.auction-online-transition {
  transition: 2s;
}

.auction-online-note-admin {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.auction-online-note-online {
  background-color: rgb(66, 183, 42);
}

.auction-online-note-offline {
  background-color: rgb(143, 143, 143);
}

.auction-online-note-removed {
  background-color: #ff3b27;
}

.auction-online-online-icon {
  width: 10px;
  height: 10px;
  background-color: rgb(66, 183, 42);
  border-radius: 50%;
  top: 13px;
  left: -4px;
}

.auction-online-offline-icon {
  width: 10px;
  height: 10px;
  background-color: rgb(143, 143, 143);
  border-radius: 50%;
  top: 13px;
  left: -4px;
}

.auction-online-removed-icon {
  width: 10px;
  height: 10px;
  background-color: #ff3b27;
  border-radius: 50%;
  top: 13px;
  left: -4px;
}

.auction-online-display-none {
  display: none;
}

.auction-online-display-block {
  display: block;
}

.customize-error-login {
  color: #ff3b27;
  border-color: #ff959c;
  background-color: #fffbfb;
  border-radius: 3px;
}

.customize-success-category {
  color: #37d7ffcb;
  border-color: #5de4eeb0;
  background-color: #7bd4e01f;
  border-radius: 3px;
}

.auction-online-change-color {
  color: #ff3b27;
  font-size: 14px;
  margin-top: 2px;
}

.auction-online-loading-cutomize {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(222, 184, 135, 0.192);
  top: 0;
  left: 0;
}

.background-custom {
  background-color: #545454
}
.no-hover{
  text-decoration: none;
}
.no-hover:hover {
  text-decoration: none;
}

.nav-link{
  width: 100% !important;
  padding: 13px 20px !important;
}
.nav-link, .nav-link , .nav-link::after{
  transition: .3s ease-in-out;
  white-space: nowrap;
}


.nav-link:hover  {
  background: white;
  border-radius: 3px;
  color: grey !important
}

.nav-link:hover i, .nav-link:hover::after {
  color: grey !important
}

a.active {
  background: white;
  border-radius: 3px;
  color: grey !important
}

a.active i {
  color: grey !important
}


.td-text{
  max-width: 110px;
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.table td{
  vertical-align: middle;
}

.auction-online-customize-error {
  color: #ff3b27;
  font-weight: normal;
  font-size: 14px;
}

.manage-stock-transition {
  transition: all 2s;
}

.manage-stock-update {
  background-color: rgb(243, 179, 179)
}

.select2-container--default .select2-selection--single {
  border-radius: 3px;
  height: 38px;
  display: flex;
  align-items: center;
  border: 1px solid #d1d3e2;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px;
}

.manage-stock-upload-images {
  width: 100px;
  height: 100px;
  border: 1.5px dashed #ddd;
  cursor: pointer;
}

.manage-stock-fix-size {
  width: 95px;
  height: 95px;
  object-fit: cover;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/static/images/Preloader_2.gif') center no-repeat #fff;
}
