<div class="container-fuilid px-3">
  <div class="card my-3 px-3">
    <div class="card-body">
      {{#if success}}
      <div class="alert alert-warning alert-dismissible fade show customize-success-category" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      <h5 class="text-dark">THÊM NHÀ CUNG CẤP</h5>
      <form id="manage-stock-supplier-form" class="row" action="/manage-suppliers" method="POST">
        <div class="form-group col-md-4">
          <label for="">Tên</label>
          <input name="nameSupplier" type="text" class="form-control auction-online-customize-input">
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Địa chỉ</label>
            <input name="addressSupplier" type="text" class="form-control auction-online-customize-input" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Số điện thoại</label>
            <input name="phoneSupplier" type="text" class="form-control auction-online-customize-input" />
          </div>
        </div>
        <div class="col-md-2 d-flex align-items-end">
          <div class="form-group">
            <button class="btn btn-primary auction-online-customize-btn">Thêm mới</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title h6 text-uppercase font-weight-bold ">KHÁCH HÀNG</h4>
      <form action="/suppliers/search" method="GET" class="d-flex justify-content-between">
        <div class="form-group d-flex align-items-center">
          <label for="show" class=' mr-2 mb-0'>Show</label>
          <select name="show" id='show' class="form-control" id="">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
        <div class="form-group col-md-4 d-flex">
          <input name="query_string" type="text" placeholder="Tìm kiếm"
            class="form-control auction-online-customize-input">
          <button class="btn btn-sm ml-2">
            <i class="fa fa-search text-secondary" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <div class="table-responsive">
        <table id="order-listing" class="table shadow-sm rounded border">
          <thead>
            <tr class="bg-dark text-white">
              <th>Id#</th>
              <th>Tên</th>
              <th>Điện thoại</th>
              <th>Địa chỉ </th>
              <th><span class='font-weight-bold '><i class="fa fa-cogs" aria-hidden="true"></i> </span> </th>
            </tr>
          </thead>
          <tbody>
            {{#each suppliers}}
            <tr class="manage-stock-transition">
              <td data-id="{{this.id_supplier}}">{{sliceString this.id_supplier}}</td>
              <td> <span class="text-truncate">{{this.supplier_name}}</span></td>
              <td>{{this.phone}}</td>
              <td>{{this.address}}</td>
              <td>
                <a href="#" data-toggle="modal" data-target="#manage-stock-supplier-update"
                  class="mr-2 no-hover manage-stock-supplier-edit">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="manage-stock-supplier-delete" data-toggle="modal"
                  data-target="#manage-stock-supplier-delete">
                  <i class="fas fa-trash text-danger"></i>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example ">
        <ul class="pagination d-flex justify-content-end mt-4">
          {{#if pagination.hasPreviousPage}}
          <li class="page-item"><a class="page-link"
              href="{{pagination.currentUrl}}{{pagination.previousPage}}">Previous</a>
          </li>
          {{/if}}
          {{#if pagination.hasPreviousPage}}
          <li class="page-item">
            <a class="page-link"
              href="{{pagination.currentUrl}}{{pagination.previousPage}}">{{pagination.previousPage}}</a>
          </li>
          {{/if}}
          <li class="page-item active">
            <a class="page-link"
              href="{{pagination.currentUrl}}{{pagination.currentPage}}">{{pagination.currentPage}}</a>
          </li>
          {{#if pagination.hasNextPage}}
          <li class="page-item">
            <a class="page-link" href="{{pagination.currentUrl}}{{pagination.nextPage}}">{{pagination.nextPage}}</a>
          </li>
          {{/if}}
          {{#if pagination.hasNextPage}}
          <li class="page-item">
            <a class="page-link" href="{{pagination.currentUrl}}{{pagination.nextPage}}">Next</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</div>

{{#section 'validateForm'}}
<script>
  $('#manage-stock-supplier-form').validate({
    rules: {
      nameSupplier: 'required',
      addressSupplier: 'required',
      phoneSupplier: 'required',
    },
    messages: {
      nameSupplier: 'Vui lòng nhập tên nhà cung cấp',
      addressSupplier: 'Vui lòng nhập địa chỉ',
      phoneSupplier: 'Vui lòng nhập số điện thoại'
    },
    errorClass: 'manage-stock-error',
    errorElement: 'div',
    errorPlacement: function (error, element) {
      if ($(element).next()) {
        $(element).next().remove();
      }

      $(element).after(`<div class="d-flex align-items-center auction-online-customize-error">
                        <i class="fas fa-info-circle mr-2"></i>
                        ${error[0].innerHTML}
                     </div>`);
    },
    success: function (label, element) {
      $(element).next().remove();
    },
  });
</script>
<script src="/static/js/call-api/supplier.api.js"></script>
{{/section}}
