<div class="container-fuilid px-3">
  <div class="card my-3 px-3">
    <div class="card-body">
      {{#if success}}
      <div class="alert alert-warning alert-dismissible fade show customize-success-category" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      <form id="manage-stock-category" class="d-flex" action="/manage-categories" method="post">
        <div class="col-md-3 form-group">
          <label for="">Tên</label>
          <input type="text" name="categoryName" class="form-control auction-online-customize-input">
        </div>
        <div class="col-md-7 form-group">
          <label for="">Mô tả</label>
          <input type="text" name="description" class="form-control auction-online-customize-input">
        </div>
        <div class="col-md-2 form-group d-flex align-items-end">
          <button class="btn btn-info">Thêm</button>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title h6 text-uppercase font-weight-bold ">DANH MỤC</h4>
      <form action="/manage-categories/search" method="get" class="d-flex justify-content-between">
        <div class="form-group  d-flex align-items-center">
          <label for="show" class=' mr-2 mb-0'>Show</label>
          <select name="show_number" id='show' class="form-control" id="">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
        <div class="form-group col-md-4 d-flex">
          <input type="text" name="query_string" placeholder="Tìm kiếm" class="form-control">
          <button class="btn btn-sm ml-2">
            <i class="fa fa-search text-secondary" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <div class="table-responsive">
        <table id="order-listing" class="table shadow-sm rounded">
          <thead>
            <tr class="bg-dark text-white">
              <th>Id#</th>
              <th>Tên</th>
              <th>Mô tả</th>
              <th> <span class='font-weight-bold '><i class="fa fa-cogs" aria-hidden="true"></i> </span> </th>
            </tr>
          </thead>
          <tbody>
            {{#each categories}}
            <tr class="manage-stock-transition">
              <td data-id="{{this.id_category}}">{{sliceString this.id_category}}</td>
              <td> <span class="text-truncate">{{this.category_name}}</span></td>
              <td>
                <div class='text-truncate' style="max-width: 500px">
                  {{this.description}}
                </div>
              </td>
              <td>
                <a href="#" data-toggle="modal" data-target="#update-category-modal"
                  class="mr-2 no-hover manage-stock-edit">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="#" data-toggle="modal" data-target="#manage-stock-delete-category" class="manage-stock-delete">
                  <i class="fas fa-trash text-danger"></i>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example ">
        <ul class="pagination d-flex justify-content-end mt-4">
          {{#if pagination.hasPreviousPage}}
          <li class="page-item"><a class="page-link"
              href="{{pagination.currentUrl}}{{pagination.previousPage}}">Previous</a>
          </li>
          {{/if}}
          {{#if pagination.hasPreviousPage}}
          <li class="page-item">
            <a class="page-link"
              href="{{pagination.currentUrl}}{{pagination.previousPage}}">{{pagination.previousPage}}</a>
          </li>
          {{/if}}
          <li class="page-item active">
            <a class="page-link"
              href="{{pagination.currentUrl}}{{pagination.currentPage}}">{{pagination.currentPage}}</a>
          </li>
          {{#if pagination.hasNextPage}}
          <li class="page-item">
            <a class="page-link" href="{{pagination.currentUrl}}{{pagination.nextPage}}">{{pagination.nextPage}}</a>
          </li>
          {{/if}}
          {{#if pagination.hasNextPage}}
          <li class="page-item">
            <a class="page-link" href="{{pagination.currentUrl}}{{pagination.nextPage}}">Next</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</div>

{{#section 'validateForm'}}
<script>
  $('#manage-stock-category').validate({
    rules: {
      categoryName: 'required',
      description: 'required',
    },
    messages: {
      categoryName: 'Vui lòng nhập tên danh mục',
      description: 'Vui lòng nhập mô tả',
    },
    errorClass: 'auction-online-error',
    errorElement: 'div',
    errorPlacement: function (error, element) {
      if ($(element).next()) {
        $(element).next().remove();
      }
      element.after(`<div class="d-flex align-items-center auction-online-customize-error">
                        <i class="fas fa-info-circle mr-2"></i>
                        ${error[0].innerHTML}
                     </div>`);
    },
    success: function (lable, element) {
      $(element).next().remove();
    }
  })
</script>
<script src="/static/js/call-api/category.api.js"></script>
{{/section}}
