.auction-customize-filter {
  font-size: 20px;
  font-weight: 600;
}

.auction-search-category .auction-category-title {
  font-size: 16px;
  font-weight: 600;
}

.auction-all-category ul {
  list-style: none;
  height: 140px;
  overflow-y: scroll;
}

.auction-all-category ul li {
  padding: 7px 0px;
}

.auction-all-category ul li a {
  font-size: 14px;
}

.auction-all-category ul::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.auction-all-category ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.auction-all-category ul::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.auction-all-category ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.auction-result-category .auction-result-title div {
  font-size: 13px;
}

.auction-order-search div label {
  font-size: 13px;
  font-weight: 500;
}

.auction-order-search select {
  font-size: 13px;
  font-weight: 500;
}
