html,
body {
    font-family: 'Montserrat', sans-serif;
}

.btn-FB {
    background-color: #4267B2;
    color: white;
    justify-content: center;
}

.btn-GG {
    background-color: #D84B37;
    color: white;
    justify-content: center;
}