.auction-tag-date .auction-tag-name a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.auction-tag-date .auction-tag-name a:hover {
  color: #ea686a !important;
}

.auction-tag-date .auction-tag-name div {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.auction-customize-like-item {
  width: 40px;
  height: 40px;
}

.auction-customize-like-item i {
  color: #ea686a;
  cursor: pointer;
}

.auction-customize-width-item img {
  width: 100%;
  object-fit: cover;
}

.auction-slider-for .slick-list.draggable {
  height: 500px !important;
}

.auction-slider-for .slick-list.draggable .slick-track img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.auction-cover-seller img {
  height: 180px;
  object-fit: cover;
}

.auction-cover-seller .auction-avatar-seller img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.auction-cover-seller .auction-avatar-seller {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(40%);
}

.auction-get-profile-seller a:hover {
  color: #ea686a !important;
}
