@media only screen and (max-width: 767.98px) {
  .auction-btn-search {
    width: 100%;
  }

  .auction-banner {
    padding: 80px 40px;
  }

  .auction-customer-send-mail {
    width: 100%;
  }
}

@media only screen and (max-width: 575.98px) {
  .auction-customer-send-mail div {
    width: 100%;
  }

  .auction-customer-send-mail button {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .auction-container {
    max-width: 992px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
