<div>
  <div class="container py-4">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-md-between position-relative">
        <img class="d-none d-md-block" src="/static/images/auction.svg" alt="logo" width="50">
        <div class="form-inline flex-column flex-sm-row justify-content-center auction-customer-send-mail">
          <div class="form-group mb-2 mb-sm-0 mr-sm-2 auction-form-email">
            <label for="email" class="sr-only">Email</label>
            <input type="email" class="form-control rounded-0" id="auction-email" placeholder="Email">
          </div>
          <button type="submit"
            class="btn btn-dark rounded-0 border-0 px-4 py-2 mb-0 auction-sign-up-email w-md-100">Đăng kí
            email</button>
        </div>
      </div>
    </div>
  </div>
</div>
