<div class="container-fuilid px-3">
  <div class="card my-3 px-3">
    <div class="card-body">
      <h5 class="text-dark pt-2 text-center px-4">Đăng kí tài khoản cho nhân viên</h5>
      <form class="pr-5 pl-5 pb-5 pt-3" action="">
        <table class="w-100">
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Tên</label> </td>
            <td>
              <div class="form-group">
                <input type="text" id="name" class="form-control w-100 auction-online-customize-input">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">username</label> </td>
            <td>
              <div class="form-group">
                <input type="text" id="name" class="form-control w-100 auction-online-customize-input">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Email</label> </td>
            <td>
              <div class="form-group">
                <input type="email" id="name" class="form-control w-100 auction-online-customize-input">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Mật khẩu</label> </td>
            <td>
              <div class="form-group">
                <input type="password" id="name" class="form-control w-100 auction-online-customize-input">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Stock</label> </td>
            <td>
              <div class="form-group">
                <select name="" class="form-control auction-online-customize-input" id="">
                  <option value="1">Kho 1</option>
                  <option value="1">Kho 2</option>
                  <option value="1">Kho 3</option>
                  <option value="1">Kho 4</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Vị trí</label> </td>
            <td>
              <div class="form-group">
                <select name="" class="form-control auction-online-customize-input" id="">
                  <option value="1">Kho 1</option>
                  <option value="1">Kho 2</option>
                  <option value="1">Kho 3</option>
                  <option value="1">Kho 4</option>
                </select>
              </div>
            </td>
          </tr>
        </table>
        <div class="text-right">
          <button class="btn btn-sm btn-info mr-2 shadown-sm">Thêm</button>
          <button class="btn btn-sm btn-secondary shadown-sm">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>
