<div class="container-fuilid px-3">
  <div class="card my-3 px-3">
    <div class="card-body">
      <h5 class="text-dark pt-2 text-center px-4">THÊM NGƯỜI SỬ DỤNG</h5>
      <form class="pr-5 pl-5 pb-5 pt-3" action="/insert-account" method="POST" >
        <table class="w-100">
          <tr>
            <td style="width: 150px;"> <label for="display_name" class="d-block">Tên hiển thị</label> </td>
            <td>
              <div class="form-group">
                <input type="text" id="display_name" name="display_name" class="form-control w-100">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="user_name" class="d-block">Tên tài khoản</label> </td>
            <td>
              <div class="form-group">
                <input type="text" id="user_name" name="user_name" class="form-control w-100">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="email" class="d-block">Email</label> </td>
            <td>
              <div class="form-group">
                <input type="email" id="email" name="email" class="form-control w-100">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="password" class="d-block">Mật khẩu</label> </td>
            <td>
              <div class="form-group">
                <input type="password" id="password" name="password" class="form-control w-100">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="gender" class="d-block">Giới tính</label> </td>
            <td>
              <div class="form-group">
                <select  id="gender" name="gender" class="form-control">
                  <option value="Nam">Nam</option>
                  <option value="Nữ">Nữ</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="address" class="d-block">Địa chỉ</label> </td>
            <td>
              <div class="form-group">
                <input type="text" id="address" name="address" class="form-control w-100">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="id_store" class="d-block">Stock</label> </td>
            <td>
              <div class="form-group">
                <select name="id_store" class="form-control" id="id_store">
                  <option value="001">Kho 1</option>
                  <option value="002">Kho 2</option>
                  <option value="003">Kho 3</option>
                  <option value="004">Kho 4</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="id_role" class="d-block">Chức vụ</label> </td>
            <td>
              <div class="form-group">
                <select name="id_role" class="form-control" id="id_role">
                  <option value="1">Quản lý cấp cao</option>
                  <option value="2">Quản lý chi nhánh</option>
                  <option value="3">Nhân viên</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="id_manager" class="d-block">Quản lý</label> </td>
            <td>
              <div class="form-group">
                <input type="text" id="id_manager" name="id_manager" class="form-control w-100">
              </div>
            </td>
          </tr>
        </table>
        <div class="text-right">
          <button class="btn btn-sm btn-info mr-2 shadown-sm">Thêm</button>
          <button class="btn btn-sm btn-secondary shadown-sm">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>
