<div class=" justify-content-center d-flex grid-margin stretch-card align-items-center col-12">
  <div class="card" style="width: 500px">
    <div class="card-body">
      <p class="card-description">
        Đổi mật khẩu
      </p>
      <form class="forms-sample">
        <div class="form-group">
          <label for="OldPass">Mật khẩu cũ:</label>
          <input type="password" class="form-control" id="OldPass">
        </div>
        <div class="form-group">
          <label for="NewPass">Mật khẩu mới:</label>
          <input type="password" class="form-control" id="NewPass">
        </div>
        <div class="form-group">
          <label for="ConfirmPass">Nhập lại mật khẩu mới:</label>
          <input type="password" class="form-control" id="ConfirmPass">
        </div>
        <a href="/settings" class="btn btn-primary float-right mt-4 ml-2">Quay lại</a>
        <a href="/settings" class="btn btn-primary float-right mt-4 ml-2">Lưu</a>
      </form>
    </div>
  </div>