<div class="container-fuilid px-3">
  <div class="card my-3 px-3">
    <div class="card-body">
      <h5 class="text-dark pt-2 text-center px-4">THAY ĐỔI THÔNG TIN</h5>
      <form class="pr-5 pl-5 pb-5 pt-3" action="">
        <table class="w-100">
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Tên</label> </td>
            <td>
              <div class="form-group">
                <input type="text" disabled placeholder="Newbiew.dev.js" id="name" class="form-control w-100">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Email</label> </td>
            <td>
              <div class="form-group">
                <input type="email" disabled id="name" placeholder="nhatnn@gmail.com" class="form-control w-100">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Địa chỉ</label> </td>
            <td>
              <div class="form-group">
                <input type="password" id="name" class="form-control w-100">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Stock</label> </td>
            <td>
              <div class="form-group">
                <select name="" disabled class="form-control" id="">
                  <option value="1">Kho 1</option>
                  <option value="1">Kho 2</option>
                  <option value="1">Kho 3</option>
                  <option value="1">Kho 4</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 150px;"> <label for="name" class="d-block">Vị trí</label> </td>
            <td>
              <div class="form-group">
                <select name="" disabled class="form-control" id="">
                  <option value="1">Kho 1</option>
                  <option value="1">Kho 2</option>
                  <option value="1">Kho 3</option>
                  <option value="1">Kho 4</option>
                </select>
              </div>
            </td>
          </tr>
        </table>
        <div class="text-right">
          <button class="btn btn-sm btn-info mr-2 shadown-sm">Thêm</button>
          <button class="btn btn-sm btn-secondary shadown-sm">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>