<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>
  <!-- Custom fonts for this template-->
  <link rel="shortcut icon" href="/static/images/warehouse.ico" type="image/x-icon">
  <link href="/static/css/admin/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  {{{_sections.renderCSS}}}
  <!-- Custom styles for this template-->
  <link href="/static/css/admin/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/admin/jquery.toast.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/admin/jquery.nested.css">
  <link rel="stylesheet" href="/static/css/admin/admin.customize.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <script src="/static/js/admin/jquery.min.js"></script>
  <script>
    $(window).on('load', function () {
      // Animate loader off screen
      $(".se-pre-con").fadeOut("slow");;
    });
  </script>
</head>

<body id="page-top">

  <div class="se-pre-con"></div>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{> admin/_sidebar_admin _sidebar=_sidebar}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {{> admin/_topbar_admin user=user}}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        {{{body}}}
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {{> admin/_footer_admin}}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Chọn "Đăng xuất" bên dưới, bạn sẽ kết thúc phiên làm việc hiện tại.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary auction-online-customize-btn" type="button" data-dismiss="modal">Hủy</button>
          <a class="btn btn-primary auction-online-customize-btn" href="/logout-account">Đăng xuất</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete modal -->
  <div class="modal fade" id="manage-stock-delete-category" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xóa danh mục</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="manage-stock-modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary auction-online-customize-btn"
            data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger auction-online-customize-btn"
            id="manage-stock-btn-delete">Xóa</button>
          <button style="padding: 5px 20px" type="button" class="btn btn-danger d-none auction-online-customize-btn"
            id="manage-stock-btn-delete-loading">
            <div class="spinner-border text-light spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- udapte category modal -->
  <div class="modal fade" id="update-category-modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Cập nhập danh mục</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="auction-online-form-update">
            <div class="form-group">
              <label for="auction-online-id-category-update">Mã danh mục</label>
              <input type="text" class="form-control auction-online-customize-input" name="idCategory"
                id="auction-online-id-category-update" readonly>
            </div>
            <div class="form-group">
              <label for="auction-online-name-category-update">Tên danh mục</label>
              <input type="text" class="form-control auction-online-customize-input" name="nameCategory"
                id="auction-online-name-category-update">
            </div>
            <div class="form-group">
              <label for="manage-stock-description">Mô tả về danh mục</label>
              <textarea class="form-control auction-online-customize-input" id="manage-stock-description"
                name="descrition" rows="3"></textarea>
            </div>
            <div id="auction-online-process-update" class="d-flex align-items-center">
              <button id="manage-stock-update" type="submit" class="btn btn-primary auction-online-customize-btn">
                Cập nhập
              </button>
              <button style="padding: 5px 39px" id="manage-stock-loading"
                class="btn btn-primary d-none auction-online-customize-btn">
                <div class="spinner-border text-light spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger auction-online-customize-btn" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="auction-online-change-order" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thay đổi menu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 300px;">
          <div style="display: block;" id="auction-online-change-categories" class="auction-online-loading-cutomize">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">L O A D I N G . . .
            </div>
          </div>
          <div class="dd">
            <ol class="dd-list">
            </ol>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary auction-online-customize-btn"
            data-dismiss="modal">Đóng</button>
          <button type="button" id="auction-online-save-change" class="btn btn-primary auction-online-customize-btn">Lưu
            thay đổi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Upgrade Modal-->
  <div class="modal fade" id="auction-online-upgrade" tabindex="-1" role="dialog"
    aria-labelledby="auction-online-upgrade-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="auction-online-upgrade-label">Nâng cấp</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button class="btn btn-secondary auction-online-customize-btn" id="auction-online-button-cancel-hide"
            type="button" data-dismiss="modal">Hủy</button>
          <a class="btn btn-primary auction-online-customize-btn" id="auction-online-upgrade-btn" href="#"
            aria-pressed="false">Nâng cấp</a>
          <a class="btn btn-primary auction-online-customize-btn disabled d-none" id="auction-online-upgrade-btn-lock"
            href="#" tabindex="-1" role="button" aria-disabled="true">
            <div class="d-flex align-items-center">
              <div class="spinner-border text-light spinner-border-sm my-1 mx-4" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit supplier -->
  <div class="modal fade" id="manage-stock-supplier-update" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cập nhập nhà cung cấp</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="manage-stock-update-supplier-form">
            <div class="form-group">
              <label for="manage-stock-input-id-sup">Mã nhà cung cấp</label>
              <input type="text" class="form-control auction-online-customize-input" name="idSupplier"
                id="manage-stock-input-id-sup" readonly>
            </div>
            <div class="form-group">
              <label for="manage-stock-input-name-sup">Tên nhà cung cấp</label>
              <input type="text" class="form-control auction-online-customize-input" name="nameSupplier"
                id="manage-stock-input-name-sup">
            </div>
            <div class="form-group">
              <label for="manage-stock-input-address-sup">Địa chỉ</label>
              <input type="text" class="form-control auction-online-customize-input" name="addressSupplier"
                id="manage-stock-input-address-sup">
            </div>
            <div class="form-group">
              <label for="manage-stock-input-phone-sup">Số điện thoại</label>
              <input type="text" class="form-control auction-online-customize-input" name="phoneSupplier"
                id="manage-stock-input-phone-sup">
            </div>
            <div id="manage-stock-process-update" class="d-flex align-items-center">
              <button id="manage-stock-update-sup" type="submit" class="btn btn-primary auction-online-customize-btn">
                Cập nhập
              </button>
              <a style="padding: 5px 39px" id="manage-stock-loading-sup"
                class="btn btn-primary d-none auction-online-customize-btn">
                <div class="spinner-border text-light spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </a>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger auction-online-customize-btn" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="manage-stock-supplier-delete" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xóa nhà cung cấp</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="manage-stock-show-info">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary auction-online-customize-btn"
            data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger auction-online-customize-btn"
            id="manage-stock-delete-btn-sup">Xóa</button>
          <a style="padding: 5px 20px" type="button" class="btn btn-danger d-none auction-online-customize-btn"
            id="manage-stock-delete-loading-sup">
            <div class="spinner-border text-light spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Load product in all store -->
  <div class="modal fade" id="manage-stock-load-store" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sản phẩm trong tất cả kho</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary auction-online-customize-btn"
            data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Create a global variable -->
  <script>
    var host = 'localhost:8000';
    var perPage = 10;
    var change = false;
  </script>
  <!-- Bootstrap core JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
  <script src="/static/js/admin/jquery-ui.min.js"></script>
  <script src="/static/js/admin/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.3/bootbox.min.js"></script>
  <script src="/static/js/admin/jquery.loading.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/js/admin/jquery.easing.min.js"></script>

  <!-- Core plugin jquery toasting -->
  <script src="/static/js/admin/jquery.toast.min.js"></script>

  <script src="/static/js/admin/jquery.nestable.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/admin/sb-admin-2.min.js"></script>

  <script src="/static/js/admin/drop.drag.admin.js"></script>

  <script src="/static/js/admin/sammy.min.js"></script>

  <script src="/static/js/admin/sort.category.callapi.js"></script>



  {{{_sections.callapi}}}
  {{{_sections.validateForm}}}
  {{{_sections.renderTooltip}}}
  {{{_sections.ajax}}}

</body>

</html>
