<div class="container-fuilid px-3">
  <div class="card my-3 px-3">
    <div class="card-body">
      <h5 class="text-dark"> THÊM KHÁCH HÀNG</h5>
      <form class="row" action="">
        <div class="form-group col-md-2">
          <label for="">Tên</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-2">
          <div>
            <label for="">Giới tính</label>
            <select type="text" class="form-control">
              <option value="">Nam</option>
              <option value="">Nữ</option>
              <option value="">Không rỏ</option>
            </select></div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Địa chỉ</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-2 d-flex align-items-end">
          <div class="form-group">
            <button class="btn btn-primary">Thêm mới</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title h6 text-uppercase font-weight-bold ">KHÁCH HÀNG</h4>
      <form action=" " class="d-flex justify-content-between">
        <div class="form-group  d-flex align-items-center">
          <label for="show" class=' mr-2 mb-0'>Show</label>
          <select name="" id='show' class="form-control" id="">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
        <div class="form-group col-md-4 d-flex">
          <input type="text" placeholder="search" class="form-control">
          <button class="btn btn-sm ml-2">
            <i class="fa fa-search text-secondary" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <div class="table-responsive">
        <table id="order-listing" class="table shadow-sm rounded border">
          <thead>
            <tr class="bg-dark text-white">
              <th>Id#</th>
              <th>Tên</th>
              <th>Giới tính</th>
              <th>Email </th>
              <th>Địa chỉ </th>
              <th><span class='font-weight-bold '><i class="fa fa-cogs" aria-hidden="true"></i> </span> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PD001</td>
              <td> <span class="text-truncate">Ngọc Nhất</span></td>
              <td> <span class="text-truncate">Nam</span></td>
              <td>newbie.dev.js@gmail.com</td>
              <td>102/32 Hiệp Bình</td>
              <td>
                <a href="" class="mr-2 no-hover">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="">
                  <i class="fas fa-trash text-danger"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>PD001</td>
              <td> <span class="text-truncate">Ngọc Nhất</span></td>
              <td> <span class="text-truncate">Nam</span></td>
              <td>newbie.dev.js@gmail.com</td>
              <td>102/32 Hiệp Bình</td>
              <td>
                <a href="" class="mr-2 no-hover">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="">
                  <i class="fas fa-trash text-danger"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>PD001</td>
              <td> <span class="text-truncate">Ngọc Nhất</span></td>
              <td> <span class="text-truncate">Nam</span></td>
              <td>newbie.dev.js@gmail.com</td>
              <td>102/32 Hiệp Bình</td>
              <td>
                <a href="" class="mr-2 no-hover">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="">
                  <i class="fas fa-trash text-danger"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>PD001</td>
              <td> <span class="text-truncate">Ngọc Nhất</span></td>
              <td> <span class="text-truncate">Nam</span></td>
              <td>newbie.dev.js@gmail.com</td>
              <td>102/32 Hiệp Bình</td>
              <td>
                <a href="" class="mr-2 no-hover">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="">
                  <i class="fas fa-trash text-danger"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>PD001</td>
              <td> <span class="text-truncate">Ngọc Nhất</span></td>
              <td> <span class="text-truncate">Nam</span></td>
              <td>newbie.dev.js@gmail.com</td>
              <td>102/32 Hiệp Bình</td>
              <td>
                <a href="" class="mr-2 no-hover">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="">
                  <i class="fas fa-trash text-danger"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>PD001</td>
              <td> <span class="text-truncate">Ngọc Nhất</span></td>
              <td> <span class="text-truncate">Nam</span></td>
              <td>newbie.dev.js@gmail.com</td>
              <td>102/32 Hiệp Bình</td>
              <td>
                <a href="" class="mr-2 no-hover">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="">
                  <i class="fas fa-trash text-danger"></i>
                </a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example ">
        <ul class="pagination d-flex justify-content-end mt-4">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>