<div class="contanier-fluid px-3">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <form action="/manage-products/create" enctype="multipart/form-data" method="POST">
            <div class="d-flex align-items-center justify-content-between">
              <div class="form-group">
                <label for="manage-stock-create-name-pr">Tên sản phẩm</label>
                <input type="text" class="form-control auction-online-customize-input" name="nameProduct"
                  id="manage-stock-create-name-pr">
              </div>
              <div class="form-group">
                <label for="manage-stock-create-store-pr">Mã cửa hàng</label>
                <input type="text" class="form-control auction-online-customize-input" name="storeProduct"
                  id="manage-stock-create-store-pr" readonly value="{{store}}">
              </div>
            </div>
            <div class="form-group">
              <label for="manage-stock-create-description-pr">Mô tả sản phẩm</label>
              <textarea class="form-control auction-online-customize-input" id="manage-stock-create-description-pr"
                rows="3" name="descriptionProduct"></textarea>
            </div>
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <div class="form-group">
                <label for="manage-stock-create-price-pr">Giá</label>
                <input type="text" name="priceProduct" class="form-control auction-online-customize-input"
                  id="manage-stock-create-price-pr">
              </div>
              <div class="form-group d-flex flex-column">
                <label for="manage-stock-create-select1-pr">Danh mục</label>
                <select name="categoryProduct"
                  class="form-control auction-online-customize-input js-example-basic-single" style="width: 160px"
                  id="manage-stock-create-select1-pr" name="state">
                  {{#each categories}}
                  <option value="{{this.id_category}}">{{this.category_name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group d-flex flex-column">
                <label for="manage-stock-create-select2-pr">Nhà cung cấp</label>
                <select name="supplierProduct"
                  class="form-control auction-online-customize-input js-example-basic-single" style="width: 160px"
                  id="manage-stock-create-select2-pr" name="state">
                  {{#each suppliers}}
                  <option value="{{this.id_supplier}}">{{this.supplier_name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label for="manage-stock-create-price-pr">Số lượng sản phẩm</label>
                <input type="text" name="amountProduct" class="form-control auction-online-customize-input"
                  id="manage-stock-create-amount-pr">
              </div>
            </div>
            <div class="form-group d-flex flex-column">
              <label for="manage-stock-create-select1-pr">Upload hình ảnh</label>
              <div class="d-flex">
                <label for="manage-stock-select-img-1"
                  class="d-flex justify-content-center align-items-center manage-stock-upload-images">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </label>
                <input id="manage-stock-select-img-1" name="img1Product" class="d-none" type="file">
                <label for="manage-stock-select-img-2"
                  class="d-flex justify-content-center align-items-center ml-2 manage-stock-upload-images">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </label>
                <input id="manage-stock-select-img-2" name="img2Product" class="d-none" type="file">
              </div>
            </div>
            <button type="submit" class="btn btn-primary auction-online-customize-btn">Tạo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'renderCSS'}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
{{/section}}

{{#section 'validateForm'}}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
<script>
  $(document).ready(function () {
    CKEDITOR.replace('descriptionProduct');
    $('.js-example-basic-single').select2();

    $('input[type=file]').change(function () {
      previewImage(this, $(this).prev());
    })
  });

  function previewImage(input, element) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function () {
        element.html(`<img src="${reader.result}" class="manage-stock-fix-size"/>`)
      }

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
{{/section}}
