<div class="container-fuilid px-3">
  <div class="card">
    <div class="card-body">
      {{#if success}}
      <div class="alert alert-warning alert-dismissible fade show customize-success-category" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      <h4 class="card-title h6 text-uppercase font-weight-bold mb-0">Lập phiếu yêu cầu</h4>
      <hr>
      <div class="row">
        <div class="col-8">
          <div class="table-responsive">
            <table id="order-listing" class="table shadow-sm rounded">
              <thead>
                <tr class="bg-dark text-white">
                  <th>Tên</th>
                  <th>Số lượng</th>
                  <th>Nhà cung cấp</th>
                  <th>Giá</th>
                  <th>SL Đặt</th>
                  <th> <span class='font-weight-bold '><i class="fa fa-cogs" aria-hidden="true"></i> </span> </th>
                </tr>
              </thead>
              <tbody>
                {{#each products}}
                <tr>
                  <td><span class="d-block text-truncate" style="width: 200px;" data-toggle="tooltip"
                      data-placement="bottom" title="{{product_name}}">{{product_name}}</span></td>
                  <td>{{quantity_product}}</td>
                  <td>{{supplier_name}}</td>
                  <td>{{format price}} đ</td>
                  <td style="width: 100px;"><input type="number" class="form-control" value="1">
                  </td>
                  <td>
                    <button class="btn manage-stock-add-session" data-id="{{id_product}}" data-name="{{product_name}}">
                      <i class="fas fa-arrow-right text-primary"></i>
                    </button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-4">
          <div class="card rounded-0">
            <div class="card-header bg-dark rounded-0 text-white font-weight-bold">
              Phiếu yêu cầu
            </div>
            <div class="card-body" id="manage-stock-detail-response">
              {{#each bills}}
              <div class="d-flex mb-3 justify-content-between item">
                <div title="{{this.name_product}}" data-toggle="tooltip" data-placement="top" style="width: 200px;"
                  class="text-truncate">
                  {{this.name_product}}
                </div>
                <div class="d-flex align-items-center">
                  <div>{{this.quantity_product}}</div>
                  <div class="ml-3 action-delete" data-id="{{this.id_product}}" style="cursor: pointer;">
                    <i class="fas fa-times"></i>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          <a href="/request-bill/create"
            class="btn btn-info mt-3 float-right text-white auction-online-customize-btn">Lập phiếu</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'ajax'}}
<script>

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $('.manage-stock-add-session').click(function (e) {
    var idProduct = $(this).data('id');
    var nameProduct = $(this).data('name');
    var amount = $(this).parents('tr').children('td:eq(4)').children().val();
    $(this).parents('tr').children('td:eq(4)').children().val(1)

    var data = {
      id_product: idProduct,
      name_product: nameProduct,
      quantity_product: parseInt(amount),
    };

    fetch(`/create-request-bill/session/create`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data),
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        var html = '';
        data.result.forEach(function (element) {
          html += `<div class="d-flex  mb-3  justify-content-between item">
                      <div
                        title="{{this.name_product}}"
                        data-toggle="tooltip"
                        data-placement="top"
                        style="width: 200px;"
                        class="text-truncate"
                      >${element.name_product}</div>
                      <div class="d-flex align-items-center">
                        <div>${element.quantity_product}</div>
                        <div class="ml-3 action-delete" data-id="${element.id_product}" style="cursor: pointer;">
                          <i class="fas fa-times"></i>
                        </div>
                      </div>
                    </div>`
        });
        $('#manage-stock-detail-response').html(html);
        renderEventDOM()
      })
      .catch(function (err) {
        console.log(err);
      })
  })



  function renderEventDOM() {
    $(".action-delete").off().click(function () {
      var id_product_deleted = $(this).data("id");
      var ref = $(this);

      fetch(`/create-request-bill/session/delete`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id_product_deleted }),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          if (data.status === 200) {
            ref.parents(".item").remove();
          }
        })
        .catch(function (err) {
          console.log(err);
        })
    })
  }

  renderEventDOM();

</script>
{{/section}}
