<div class="container-fuilid px-3">
  <div class="card">
    <div class="card-body">
      {{#if success}}
      <div class="alert alert-warning alert-dismissible fade show customize-success-category" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="card-title h6 text-uppercase font-weight-bold mb-0">Sản phẩm</h4>
        <a href="/manage-products/create" type="button"
          class="btn btn-info text-white auction-online-customize-btn">Thêm sản phẩm</a>
      </div>
      <hr>
      <form action="/manage-products/search" method="GET" class="d-flex justify-content-between">
        <div class="form-group  d-flex align-items-center">
          <label for="show" class=' mr-2 mb-0'>Show</label>
          <select name="show" id="show" class="form-control" id="">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
        <div class="form-group col-md-4 d-flex">
          <input type="text" name="query_string" placeholder="Tìm kiếm" class="form-control auction-online-customize-input">
          <button class="btn btn-sm ml-2">
            <i class="fa fa-search text-secondary" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <div class="table-responsive">
        <table id="order-listing" class="table shadow-sm rounded">
          <thead>
            <tr class="bg-dark text-white">
              <th>Id#</th>
              <th>Tên</th>
              <th>Danh mục</th>
              <th>Nhà cung cấp</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th> <span class='font-weight-bold '><i class="fa fa-cogs" aria-hidden="true"></i> </span> </th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <td data-id="{{this.id_product}}"><a href="#" class="font-weight-bold manage-stock-load-product-store"
                  data-toggle="modal" data-target="#manage-stock-load-store">{{sliceString this.id_product}}</a></td>
              <td><span class="d-block text-truncate" style="width: 200px;" data-toggle="tooltip"
                  data-placement="bottom" title="{{this.product_name}}">{{this.product_name}}</span></td>
              <td>{{this.category_name}}</td>
              <td>{{this.supplier_name}}</td>
              <td>{{this.quantity_product}}</td>
              <td>{{format this.price}} đ</td>
              <td>
                {{{renderAction ../role this.id_product}}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example ">
        <ul class="pagination d-flex justify-content-end mt-4">
          {{#if pagination.hasPreviousPage}}
          <li class="page-item"><a class="page-link"
              href="{{pagination.currentUrl}}{{pagination.previousPage}}">Previous</a>
          </li>
          {{/if}}
          {{#if pagination.hasPreviousPage}}
          <li class="page-item">
            <a class="page-link"
              href="{{pagination.currentUrl}}{{pagination.previousPage}}">{{pagination.previousPage}}</a>
          </li>
          {{/if}}
          <li class="page-item active">
            <a class="page-link"
              href="{{pagination.currentUrl}}{{pagination.currentPage}}">{{pagination.currentPage}}</a>
          </li>
          {{#if pagination.hasNextPage}}
          <li class="page-item">
            <a class="page-link" href="{{pagination.currentUrl}}{{pagination.nextPage}}">{{pagination.nextPage}}</a>
          </li>
          {{/if}}
          {{#if pagination.hasNextPage}}
          <li class="page-item">
            <a class="page-link" href="{{pagination.currentUrl}}{{pagination.nextPage}}">Next</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</div>

{{#section 'renderTooltip'}}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<script>
  var idProduct = null;
  $('.manage-stock-load-product-store').click(function (e) {
    idProduct = $(this).parent().attr('data-id');
  });

  $('#manage-stock-load-store').on('show.bs.modal', function (e) {
    fetch(`/products/instock/${idProduct}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(function (response) {
        return response.json();
      }).then(function (data) {
        console.log(data);
      }).catch(function (err) {
        console.log(err);
      })
  })
</script>
{{/section}}
