<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Đổi mật khẩu
        </div>
        <div class="card-body">
          <div id="auction-online-form-error">
          </div>
          <form id="auction-online-form-change-password">
            <div class="form-group">
              <label for="auction-old-password">Mật khẩu cũ</label>
              <input type="password" name="oldPassword" class="form-control auction-online-customize-input"
                id="auction-old-password">
            </div>
            <div class="form-group">
              <label for="auction-new-password">Mật khẩu mới</label>
              <input type="password" name="newPassword" class="form-control auction-online-customize-input"
                id="auction-new-password">
            </div>
            <div class="form-group">
              <label for="auction-comfirm-password">Xác nhận mật khẩu</label>
              <input type="password" name="comfirmPassword" class="form-control auction-online-customize-input"
                id="auction-comfirm-password">
            </div>
            <button type="submit" class="btn btn-primary auction-online-customize-btn">Đổi</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'callapi'}}
<script>
  $(document).ready(function () {
    $('#auction-online-form-change-password').validate({
      rules: {
        oldPassword: 'required',
        newPassword: 'required',
        comfirmPassword: {
          equalTo: '[name="newPassword"]'
        },
      },
      messages: {
        oldPassword: 'Vui lòng nhập mật khẩu',
        newPassword: 'Nhập mật khẩu mới',
        comfirmPassword: 'Mật khẩu không khớp',
      },
      errorPlacement: function (error, element) {
        if (element.next().hasClass('auction-online-customize-error')) {
          $('.auction-online-customize-error').remove();
        }
        element.after(`<div class="d-flex align-items-center auction-online-customize-error" style="color: #ff3b27;">
                        <i class="fas fa-info-circle mr-2"></i>
                        ${error[0].innerHTML}
                     </div>`);
      },
      errorClass: 'auction-online-error',
      errorElement: 'div',
      submitHandler: function () {
        var oldPassword = $('[name="oldPassword"]').val();
        var newPassword = $('[name="newPassword"]').val();

        axios({
          url: '/api/v1/users/password',
          method: 'PUT',
          withCredentials: true,
          data: {
            password: newPassword,
            oldPassword,
          },
        })
          .then(function ({ data }) {
            if (data.status === false && data.code === 'USR_02') {
              $('#auction-online-form-error').html(
                `<div class="alert alert-danger alert-dismissible py-2 fade show customize-error-login" role="alert">
              <i class="fas fa-times-circle"></i>
              ${data.message}
              <button type="button" class="py-2 px-2 close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>`);
            } else {
              $('[name="oldPassword"]').val('');
              $('[name="newPassword"]').val('');
              $('[name="comfirmPassword"]').val('');

              $.toast({
                heading: 'Thành công',
                icon: 'success',
                loader: true, // Change it to false to disable loader
                loaderBg: '#9EC600', // To change the background
              });
            }
          })
          .catch(function (error) {
            console.log(error);
            $.toast({
              heading: `Server đang bận.`,
              icon: 'error',
              loader: true, // Change it to false to disable loader
              loaderBg: '#9EC600', // To change the background
              bgColor: '#ff3b27',
            });
          });
      }
    })
  })
</script>
{{/section}}
