<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-sm">
        <div class="card-header">
          Danh sách các bidders
        </div>
        <div class="card-body">
          <table id="auction-online-table-categories" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Tên người dùng</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col" class="text-right">Vai trò</th>
              </tr>
            </thead>
            <tbody>
              {{#if status}}
              {{#each sellers}}
              <tr class="auction-online-transition">
                <th data-id="{{this.id_user}}" scope="row">{{getLastStringId this.id_user}}</th>
                <td>{{this.email}}</td>
                <td>{{concatString this.first_name this.last_name}}</td>
                <td>{{this.address}}</td>
                <td class="text-right">
                  <div class="form-group">
                    <select class="form-control disabled auction-online-inferior">
                      {{#each this.roles}}
                      <option value="{{this.id}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </td>
              </tr>
              {{/each}}
              {{else}}
              <tr>
                <td colspan="5">Chưa có người dùng nào.</td>
              </tr>
              {{/if}}
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {{#if pagination.hasPreviousPage}}
              <li class="page-item">
                <a class="page-link" href="/auction-online/admin/tat-ca-seller?page={{pagination.previousPage}}"
                  aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{/if}}
              {{#if pagination.hasPreviousPage}}
              <li class="page-item"><a class="page-link"
                  href="/auction-online/admin/tat-ca-seller?page={{pagination.previousPage}}">{{pagination.previousPage}}</a>
              </li>
              {{/if}}
              <li class="page-item active"><a class="page-link"
                  href="/auction-online/admin/tat-ca-seller?page={{pagination.currentPage}}">{{pagination.currentPage}}</a>
              </li>
              {{#if pagination.hasNextPage}}
              <li class="page-item"><a class="page-link"
                  href="/auction-online/admin/tat-ca-seller?page={{pagination.nextPage}}">{{pagination.nextPage}}</a>
              </li>
              {{/if}}
              {{#if pagination.hasNextPage}}
              <li class="page-item">
                <a class="page-link" href="/auction-online/admin/tat-ca-seller?page={{pagination.nextPage}}"
                  aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {{/if}}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'callapi'}}
<script src="/static/js/admin/manage.seller.callapi.js"></script>
{{/section}}
