<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-sm">
        <div class="card-header">
          Danh sách yêu cầu nâng cấp
        </div>
        <div class="card-body">
          <table id="auction-online-table-categories" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Người yêu cầu</th>
                <th scope="col">Email</th>
                <th scope="col">Tin nhắn</th>
                <th scope="col" class="text-right">Nâng cấp</th>
              </tr>
            </thead>
            <tbody>
              {{#if notifications.count}}
              {{#each notifications.rows}}
              <tr class="auction-online-transition" data-id="{{this.id_notification}}">
                <td data-user="{{this.USER.id_user}}"><img width="50" height="50" class="rounded-circle" src="{{this.USER.avatar}}" /></td>
                <td>{{concatString this.USER.first_name this.USER.last_name}}</td>
                <td>{{this.USER.email}}</td>
                <td>{{this.message}}</td>
                <td class="text-right">
                  <a class="auction-online-upgrade-click" href="#" data-toggle="modal" data-target="#auction-online-upgrade">
                    <i class="fas fa-arrow-up"></i>
                  </a>
                </td>
                <td class="d-none"><input type="text" value="{{this.USER.json_data}}" hidden></td>
              </tr>
              {{/each}}
              {{else}}
              <tr>
                <td class="text-center" colspan="5">Không có yêu cầu nào.</td>
              </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'callapi'}}
<script src="/static/js/admin/upgrade.callapi.js"></script>
{{/section}}
