<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Đăng nhập</title>

  <!-- Custom fonts for this template-->
  <link href="/static/css/admin/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/admin/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/admin/admin.customize.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center align-items-center" style="height: 100vh;">

      <div class="col-xl-5 col-lg-6 col-md-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row align-items-center">
              <div class="col-lg-12">
                <div class="p-5 shadow-sm">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Chào mừng quay trở lại !</h1>
                  </div>
                  {{#if status}}
                  <div class="alert alert-danger alert-dismissible py-2 fade show customize-error-login" role="alert">
                    <i class="fas fa-times-circle"></i>
                    {{error}}
                    <button type="button" class="py-2 px-2 close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {{/if}}
                  <form id="auction-online-login" method="POST" action="/login-account" class="user">
                    <div class="form-group">
                      <input name="email" type="text" class="form-control font-weight-light auction-online-text"
                        id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Địa chỉ email">
                    </div>
                    <div class="form-group">
                      <input name="password" type="password" class="form-control font-weight-light auction-online-text"
                        id="exampleInputPassword" placeholder="Mật khẩu">
                    </div>
                    <button type="submit" class="btn btn-danger btn-block auction-online-text">
                      Đăng nhập
                    </button>
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/js/admin/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
  <script src="/static/js/admin/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/js/admin/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/admin/sb-admin-2.min.js"></script>

  <script src="/static/js/admin/login.admin.js"></script>

</body>

</html>
