<table class=" main contenttable"
  style="border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 600px;">
  <tr>
    <td class="border"
      style="border: 2px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
      <table
        style="border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;text-align: center;">
        <tr>
          <td valign="top" class="side title"
            style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
            <table
              style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
              <tr>
                <td class="head-title"
                  style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 28px;line-height: 34px;font-weight: bold; text-align: center;">
                  <div class="mktEditable" style="font-weight: bolder">
                    NÂNG CẤP THÀNH CÔNG !
                  </div>
                </td>
              </tr>
              <tr>
                <td class="sub-title"
                  style="border-collapse: collapse;border: 0;margin: 0;padding: 0;padding-top:5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 18px;line-height: 29px;font-weight: normal;text-align: center">
                  <div class="mktEditable" id="intro_title" style="margin: 25px">
                    {{data}}
                  </div>
                </td>
              </tr>
              <tr>
                <td class="top-padding"
                  style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                </td>
              </tr>
              <tr>
                <td class="grey-block"
                  style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff; text-align:center;">
                  <div class="mktEditable" id="cta">
                    <a style="color:#ffffff; background-color: #ff8300;  border: 10px solid #ff8300; border-radius: 3px; text-decoration:none;"
                      href="#">Verify email address</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="top-padding"
                  style="border-collapse: collapse;border: 0;margin: 0;padding: 15px 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 21px;">
                  <hr size="1" color="#eeeff0">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
