<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email</title>
</head>

<body link="#00a5b5" vlink="#00a5b5" alink="#00a5b5">
  {{{body}}}
</body>

</html>
