<div class="row grid-margin">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Products</h4>
        <p class="card-description">Products of 20's Stock</p>
        <div id="js-grid" class="pt-3 jsgrid">
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'callAPI'}}
<script src="static/js/jsgrid.js"></script>
<script src="static/js/_editing_db_products.js">
</script>
<script src="static/js/_editing_js_grid_products.js"></script>
{{/section}}
