<div class="container-fuilid px-3">
  <div class=" px-3">
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="p-3 bg-white rounded shadow">
          <div>Số Hóa Đơn Trong Ngày</div>
          <h3 class='font-weight-bold mt-2 mb-0 text-dark'>30</h3>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="p-3 bg-white rounded shadow">
          <div>Số Hóa Đơn Trong Ngày</div>
          <h3 class='font-weight-bold mt-2 mb-0 text-dark'>30</h3>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="p-3 bg-white rounded shadow">
          <div>Số Hóa Đơn Trong Ngày</div>
          <h3 class='font-weight-bold mt-2 mb-0 text-dark'>30</h3>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="p-3 bg-white rounded shadow">
          <div>Số Hóa Đơn Trong Ngày</div>
          <h3 class='font-weight-bold mt-2 mb-0 text-dark'>30</h3>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="p-3 bg-white rounded shadow">
          <div>Số Hóa Đơn Trong Ngày</div>
          <h3 class='font-weight-bold mt-2 mb-0 text-dark'>30</h3>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="p-3 bg-white rounded shadow">
          <div>Số Hóa Đơn Trong Ngày</div>
          <h3 class='font-weight-bold mt-2 mb-0 text-dark'>30</h3>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="p-3 bg-white rounded shadow">
          <div>Số Hóa Đơn Trong Ngày</div>
          <h3 class='font-weight-bold mt-2 mb-0 text-dark'>30</h3>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="p-3 bg-white rounded shadow">
          <div>Số Hóa Đơn Trong Ngày</div>
          <h3 class='font-weight-bold mt-2 mb-0 text-dark'>30</h3>
        </div>
      </div>

    </div>
  </div>
  <div class="card p-5 mt-2">
    <div class="row justify-content-between">
      <div class="col-md-5">
        <canvas id="myChart" width="400" height="400">
          <p>Hello Fallback World</p>
        </canvas>
      </div>
      <div class="col-md-6">
        <canvas id="product-category" width="400" height="400">
          <p>Hello Fallback World</p>
        </canvas>
      </div>
    </div>
    <script>
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
            label: '# of Votes',
            data: [3, 2, 3, 2, 2, 3],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });



      var cate = document.getElementById('product-category');
      var myChart = new Chart(cate, {
        type: 'polarArea',
        data: {
          label: ['red', 'green', 'blue'],
          datasets: [{
            label: '# of Votes',
            data: [20, 23, 31],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
            ],
          }]
        },


      });
    </script>
  </div>
</div>