<ul class="navbar-nav about-generic-area px-1 sidebar sidebar-dark accordion background-custom " id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class=" text-white py-4 no-hover d-flex align-items-center justify-content-center " href="/dashboard">
    <div class="">
      <i class="fa fa-home" aria-hidden="true"></i>
    </div>
    <div class="mx-3">20'S Stock</div>
  </a>

  <!-- Nav Item - Pages Collapse Menu -->
  {{#each _sidebar}}
  <li class="nav-item">
    <a class="nav-link collapsed {{this.active}}" href="{{this.router}}" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="{{this.classIcon}}"></i>
      <span>{{this.name}}</span>
    </a>
  </li>
  {{/each}}
  <li class="nav-item">
    <a class="nav-link collapsed " href="#" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-user-cog menu-icon"></i>
      <span>Cài đặt</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed " href="#" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-sign-out-alt menu-icon"></i>
      <span>Đăng xuất </span>
    </a>
  </li>

</ul>
