<div class="container-fuilid px-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title h6 text-uppercase font-weight-bold ">Sản phẩm</h4>
      <form action=" " class="d-flex justify-content-between">
        <div class="form-group  d-flex align-items-center">
          <label for="show" class=' mr-2 mb-0'>Show</label>
          <select name="" id='show' class="form-control" id="">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
        <div class="form-group col-md-4 d-flex">
          <input type="text" placeholder="search" class="form-control">
          <button class="btn btn-sm ml-2">
            <i class="fa fa-search text-secondary" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <div class="table-responsive">
        <table id="order-listing" class="table shadow-sm rounded">
          <thead>
            <tr class="bg-dark text-white">
              <th>Order#</th>
              <th>Custmer</th>
              <th>Tax</th>
              <th>Base Price</th>
              {{!-- <th>Purchased Price</th> --}}
              <th>Purchased Price</th>
              <th>Date</th>
              <th> Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.orders}}
            <tr>
              <td>{{id_order}}</td>
              <td><img class="avatar shadow-sm mr-3"
                  src="https://3.bp.blogspot.com/-711GIfKkZb8/WHOaf3Qmt3I/AAAAAAAAq08/S68Cnr5zd-cLGfsIJVQS92ltOQqwv5QMgCLcB/s1600/13012887_579249175567387_8893859638686840556_n.jpg"
                  alt=""><span>{{strcat first_name last_name}}</span></td>
              <td>{{percentage_tax}}%</td>
              <td>{{format total_price}}</td>
              {{!-- <td>{{format (tax total_price percentage_tax)}}</td> --}}
              <td>{{format (plusTax total_price percentage_tax)}}</td>
              <td>{{formatDate create_on day="numeric" month="long" year="numeric"}}</td>
              <td> <a href="/order-detail/{{id_order}}" class='btn btn-sm btn-outline-primary'> Xem chi tiết </a> </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example ">
        <ul class="pagination d-flex justify-content-end mt-4">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
