<div class="container-fuild px-3">
  <div class="row">
    <div class="col-md-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title h6 text-uppercase font-weight-bold ">Sản phẩm</h4>
          <form action=" " class="d-flex justify-content-between">
            <div class="form-group  d-flex align-items-center">
              <label for="show" class=' mr-2 mb-0'>Show</label>
              <select name="" id='show' class="form-control" id="">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
            </div>
            <div class="form-group col-md-6 d-flex">
              <input type="text" placeholder="search" class="form-control">
              <button class="btn btn-sm ml-2">
                <i class="fa fa-search text-secondary" aria-hidden="true"></i>
              </button>
            </div>
          </form>
          <div class="table-responsive">
            <table id="order-listing" class="table shadow-sm rounded">
              <thead>
                <tr class="bg-dark text-white">
                  <th>Id</th>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Base Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>PD001</td>
                  <td>Laptop As</td>
                  <td>10</td>
                  <td>$1500</td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example ">
            <ul class="pagination d-flex justify-content-end mt-4">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
      <form>
        <div class="card">
          <div class="card-body">
            <div class="card-title  h6 text-uppercase font-weight-bold">Tạo đơn hàng - Khách hàng 001</div>
            <div class="table-responsive">
              <table id="order-listing" class="table shadow-sm rounded">
                <thead>
                  <tr class="bg-dark text-white">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th class="text-nowrap">Base Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>PD001</td>
                    <td class="text-nowrap text-truncate">Laptop As</td>
                    <td>
                      <input class="w-100 form-control" type="number" placeholder="1">
                    </td>
                    <td>$1500</td>
                  </tr>
                  <tr>
                    <td>PD002</td>
                    <td class=" ">
                      <div class="td-text text-truncate">Laptop As ádasqưe qwewqd</div>
                    </td>
                    <td>
                      <input class="w-100 form-control" type="number" placeholder="1">
                    </td>
                    <td>$1500</td>
                  </tr>
                </tbody>
              </table>
              <div class="container-fluid mt-5 w-100">
                <p class="text-right">Tạm tính: $15,000</p>
                <p class="text-right">Thuế (10%) : $1,500</p>
                <h4 class="text-right  text-uppercase font-weight-bold">Tổng tiền : $16,500</h4>
                <hr>
              </div>
              <a href="/create-order" class="btn btn-primary float-right mt-4 ml-2">Thoát</a>
              <a href="/create-order" class="btn btn-primary float-right mt-4 ml-2">Tạo hóa đơn</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>