<div class="row">
  <div class="col-lg-12">
    <div class="card px-2">
      <div class="card-body">
        <div class="container-fluid">
          <h3 class="text-right my-5">Order number #{{id_order}}</h3>
          <hr>
        </div>
        <div class="container-fluid mt-5 d-flex justify-content-center w-100">
          <div class="table-responsive w-100">
            <table class="table">
              <thead>
                <tr class="bg-dark text-white">
                  <th>#</th>
                  <th>Description</th>
                  <th class="text-right">Quantity</th>
                  <th class="text-right">Unit cost</th>
                  <th class="text-right">Total</th>
                </tr>
              </thead>
              <tbody>
                {{#each this.rows}}
                <tr class="text-right">
                  <td class="text-left">{{stt}}</td>
                  <td class="text-left">{{product_name}}</td>
                  <td>{{quantity_order}}</td>
                  <td>{{format unit_cost}}</td>
                  <td>{{format (mul quantity_order unit_cost)}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="container-fluid mt-5 w-100">
          <p class="text-right mb-2">Tạm tính: {{format total_price}}</p>
          <p class="text-right">Thuế ({{tax_percentage}}%) : {{format (tax total_price percentage_tax) }}</p>
          <h4 class="text-right mb-5">Tổng tiền : {{format (plusTax total_price percentage_tax)}}</h4>
          <hr>
        </div>
        <div class="container-fluid w-100">
          <a href="/manage-orders" class="btn btn-secondary float-right mt-4 ml-2">Quay lại</a>
        </div>
      </div>
    </div>
  </div>
</div>
